logs_v1_old/
logs_v2_optimized/
logs_v2_refined/
logs_v2_refined_old_800m/
logs_v3_aggressive/
model_v1_old/
model_v2_optimized/
model_v2_refined/
model_v2_refined_old_800m/
model_v3_aggressive/
miniconda.exe
python-3.12.8-amd64.exe
quick_test.py
test_cloud_connection.py
test_cuda.py
test_model.py
training.log
test.py
.idea/
logs/
__pycache__/
logs_simple_attack_v1/
model_simple_attack_v1/
continue_from_best.py
continue_v10_to_v11.py
continue_v8_to_v9.py
continue_v9_to_v10.py
correct_answer/
logs_junior_dynamics_v1/
logs_junior_v2/
logs_simple_attack_v2_from_best/
logs_v10_from_v9_no_exploit/
logs_v11_from_v10_heavy_penalty/
logs_v5_from_v2_relaxed/
logs_v5_from_v2_ultra_relaxed/
logs_v6_from_v3_ultra_relaxed/
logs_v7_fresh_ultra_relaxed/
logs_v8_from_v7_finish_kill/
logs_v9_from_v8_balanced_finish/
main_junior.py
model_junior_dynamics_v1/
model_simple_attack_v2_from_best/
model_v10_from_v9_no_exploit/
model_v5_from_v2_ultra_relaxed/
model_v7_fresh_ultra_relaxed/
model_v8_from_v7_finish_kill/
model_v9_from_v8_balanced_finish/
*.pyc