logs_v1_old/
logs_v2_optimized/
logs_v2_refined/
logs_v2_refined_old_800m/
logs_v3_aggressive/
model_v1_old/
model_v2_optimized/
model_v2_refined/
model_v2_refined_old_800m/
model_v3_aggressive/
miniconda.exe
python-3.12.8-amd64.exe
quick_test.py
test_cloud_connection.py
test_cuda.py
test_model.py
training.log
test.py
.idea/
logs/
logs_v5_from_v2_relaxed/
logs_v5_from_v2_ultra_relaxed/
logs_v6_from_v3_ultra_relaxed/
logs_v7_fresh_ultra_relaxed/
logs_v8_from_v7_finish_kill/
model_v5_from_v2_ultra_relaxed/
model_v7_fresh_ultra_relaxed/